@import 'normalise';

$header-height: 1.5em;

$mobile-width:  320px;
$tablet-width:  768px;
$desktop-width: 1024px;
$full-width:    100%;

$button-active-bg: #f8f7ee;
$button-active-colour: #78c059;

body {
  width: 100%;
  height: 100%;
  font: lighter 1em/1.4em 'Helvetica Neue', Helvetica, sans-serif;
  color: #f2f2f2;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  background: #333;
  padding: 0 1em;

  h1, fieldset {
    float: left;
  }

  h1 {
    font-size: 18px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    line-height: $header-height - 0.2em;
  }

  nav ul {
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 1em;

    li {
      display: inline;

      a {
        color: #f2f2f2;
      }
    }
  }

  nav .nav-controls {
    float: right;
  }

  fieldset {
    border: none;
    margin-left: 2em;
    padding: 0;

    legend { 
      float: left;
      margin-right: 5px;
      line-height: $header-height - 0.1em;
    }

    button {
      padding: 0 0.4em;
      margin: 0;
      border: 0;
      border-left: 1px solid #444;
      border-right: 1px solid #444;
      background: #777;
      height: 24px;

      .chevron {
        position: relative;
        top: -1px;
      }

      &.active {
        background: $button-active-bg;
        color: $button-active-colour;
      }

      &#cycle-button {
        svg {
          position: relative;
          top: 1px;

          path {
            fill: #f2f2f2;
          } 
        }

        &.cycling {
          background: $button-active-bg;

          svg path {
            fill: $button-active-colour;
          } 
        }
      }
    }
  }

  #court-controls {
    select {
      width: 250px;
      vertical-align: top;
      margin-top: 1px;
    }
  }
}

#data-tester {
  background: #ccc;

  section {
    position: fixed;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
  }

  iframe {
    display: block;
    margin: auto;
    height: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: all 600ms ease-in-out;

    &.mobile  { width: $mobile-width;   }
    &.tablet  { width: $tablet-width;   }
    &.desktop { width: $desktop-width;  }
    &.full    { width: $full-width;     }

    &.loading {
      opacity: 0.5;
    }
  }
}

#data-quality {
  #list, #view {
    position: fixed;
    top: $header-height;
    bottom: 0;
  }

  #list {
    width: 66%;
    left: 0;
    right: 33%;
  }

  #view {
    width: 33%;
    left: 66%;
    right: 0;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
